<div *ngIf="product">
  <div>
    <label>Product name: </label> {{product.productName}}
  </div>
  <div>
    <label>Product type: </label> {{product.productType}}
  </div>
  <div>
    <label>Is new: </label> {{product.isNew}}
  </div>
  <div>
    <label>Product code: </label> {{product.productCode}}
  </div>
  <div>
    <label>Price: </label> {{product.price}}
  </div>

  <span class="button is-small btn-primary" *ngIf='product.isNew' (click)='updateActive(false)'>Not new</span>

  <span class="button is-small btn-primary" *ngIf='!product.isNew' (click)='updateActive(true)'>New</span>

  <span class="button is-small btn-danger" (click)='deleteProduct()'>Delete</span>

  <hr/>
</div>
<!--  id:number;
  isNew: boolean;
  price: number;
  productCode: string;
  productName: string;
  productType: string;-->
