<div style="padding: 20px;">
  <h1 style="color:blue" class="jasmine-menu">{{title}}</h1>
  <h3>
    </h3>
  <nav>
    <a routerLink="product" class="btn btn-primary active" role="button" routerLinkActive="active">Products</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbycode" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
  <router-outlet></router-outlet>
</div>
