<h3>Create Product</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productName">productName: </label>
      <input type="text" class="form-control" id="productName" required [(ngModel)]="product.productName" name="productName">
    </div>
    <div class="form-group">
      <label for="productType">productType: </label>
      <input type="text" class="form-control" id="productType" required [(ngModel)]="product.productType" name="productType">
    </div>
    <div class="form-group">
      <label for="productCode">productCode: </label>
      <input type="text" class="form-control" id="productCode" required [(ngModel)]="product.productCode" name="productCode">
    </div>
    <div class="form-group">
      <label for="isNew">isNew: </label>
      <input type="checkbox" class="form-control" id="isNew" required [(ngModel)]="product.isNew" name="isNew">
    </div>

    <div class="form-group">
      <label for="price">price:</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newProduct()">Add</button>
</div>
