<h3>Find By ProductCode</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productCode">productCode: </label>
      <input type="text" class="form-control" id="productCode" required [(ngModel)]="productCode" name="productCode">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let product of products">
    <h4>{{product.id}} - {{product.productName}} {{product.productType}}{{product.productCode}}{{product.price}}{{product.isNew}}</h4>
  </li>
</ul>
