<h1>Products</h1>

<div *ngFor="let product of products | async" style="width: 300px;">
  <product-details [product]='product'></product-details>
</div>

<div>
  <button type="button" class="button btn-danger" (click)='deleteProducts()'>Delete All</button>
</div>
